django>=5.0
yadisk
psycopg2-binary
pillow
django-leaflet
django-tiles-gl
gunicorn
celery
redis
dj-database-url
python-dotenv
django-prometheus
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers
exif
drf-spectacular
requests
djangorestframework-gis
tqdm
